@model MVC_Projekt.Models.Adres

<h2>Adresy</h2>

<p>
    <a asp-action="Create">Dodaj nowy adres</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Ulica</th>
            <th>Miasto</th>
            <th>Kod Pocztowy</th>
            <th>Kraj</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ulica</td>
                <td>@item.Miasto</td>
                <td>@item.KodPocztowy</td>
                <td>@item.Kraj</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
